/* CSS Template */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables for example: font sizes, colours etc. */
:root {
    /* just an example */
    --red: #FF0000;
}

/* Rest of the CSS below */
