/* CSS Template */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables for example: font sizes, colours etc. */
:root {
    /* just an example */
    --red: #FF0000;
}

/* Rest of the CSS below */
body{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100vh;
}

h1, h2, h3, p {
    font-family: 'Assistant', sans-serif;
}

nav{
    line-height: 50px;
    height: 5%;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

h1{
    font-family: 'Caesar Dressing', cursive;
    font-size: xx-large;
    flex-basis: 70%;
}

nav > img{
    width: 25px;
    height: 25px;
}

nav > #users{
    padding-left: 5px;
    flex-basis: 10%;
}

nav > #timer{
    flex-basis: 10%;
}

nav > h1, nav > h2, nav> img, nav > h3, i{
    /* height: 50px;
    display: inline-block; */
    margin: 0;
}

main{
    flex-basis: 30%;
    margin-right: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#country{
    height: 25%;
}

#country > h2{
    line-height: 400px;
}

img{
    background-size: cover;
    height: 300px;
    width: 450px;
    border-radius: 10px;
    margin-bottom: 100px;
}

#funFact{
    background-color: rgb(255, 173, 67);
    height: 20%;
    line-height: 150px;
    text-align: center;
    width: 100%;
}

#content{
    height: 100vh;
    text-align: center;
    color: white;
    flex-basis: 70%;
    background-color: #dfdbd1;
    display: inline-block;
}

#content > h3{
    margin: 100px;
    margin-top: 200px;
    font-size: xx-large;
}

.answers{
    line-height: 60px;
    background-color: white;
    color: black;
    width: 800px;
    margin: 10px auto;
    border-radius: 10px;
}

button{
    margin: 50px;
    background-color: #bd7f14;
    font-size: large;
    line-height: 30px;
    width: 100px;
    border-radius: 9999px;
    border: none;
}