
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('https://www.komar.de/en/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/I/A/IAX10-0027.jpg');
    background-size: cover;
    backdrop-filter: blur(2px);
    height: 100vh;
    font-family: 'Assistant', sans-serif;
}

h1 {
    user-select: none; 
}

#score{
    height: 200px;
    width: 200px;
    font-size: 6rem;
    font-weight: 400;
    color: brown;
    font-family: 'Caesar Dressing', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#score-panels{
    border-radius: 10px;
    background-color: rgba(234, 224, 205, 0.199);
    border-top: 1px solid grey;
    margin-top: 50px;
    overflow: hidden;
    height: 500px;
    width: 80%;
}

#score-panels-inner{
    width: 100%;
    overflow: auto;
    padding: 40px;
    height: 100%;
}

.answer{
    margin-bottom: 50px;
    width: 100%;
    position: relative;
}

.tag{
    position: absolute;
    width: 75px;
    height: 25px;
    background-color: rgb(180, 51, 46);
    color: white;
    line-height: 25px;
    text-align: center;
    right: 100px;
    top: 0;
}

.correct{
    background-color: rgb(104,180,46);
}
