* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

:root {
    --mustard-yellow: #bd7f14;
    --butterscotch-tan: #FFAD43;
    --correct-green: #17B729;
    --incorrect-red: #C41717;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('https://www.komar.de/en/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/I/A/IAX10-0027.jpg');
    background-size: cover;
    backdrop-filter: blur(2px);
    height: 100vh;
    font-family: 'Assistant', sans-serif;
}

h1 {
    user-select: none; 
}

#score{
    height: 200px;
    width: 200px;
    font-size: 6rem;
    font-weight: 400;
    color: brown;
    font-family: 'Caesar Dressing', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#score-panels{
    border-radius: 10px;
    background-color: rgba(234, 224, 205, 0.199);
    border-top: 1px solid grey;
    margin-top: 50px;
    overflow: hidden;
    height: 500px;
    width: 80%;
}

#score-panels-inner{
    width: 100%;
    overflow: auto;
    padding: 40px;
    height: 100%;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

#score-panels-inner::-webkit-scrollbar {
    display: none;
}

.answer{
    margin-bottom: 50px;
    width: 100%;
    position: relative;
}

.tag{
    position: absolute;
    width: 75px;
    height: 25px;
    background-color: rgb(180, 51, 46);
    color: white;
    line-height: 25px;
    text-align: center;
    right: 100px;
    top: 0;
}

.correct{
    background-color: rgb(104,180,46);
}

/* CSS for buttons*/
.button {
    background-color: #1f1e1e;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 35px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-top: 35px;
  }
  
  .button:hover,
  .button:active {
    background-color: initial;
    background-position: 0 0;
    color: black;
  }
  
  .button:active {
    opacity: .5;
  }
  
