* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

:root {
    --mustard-yellow: #bd7f14;
    --butterscotch-tan: #FFAD43;
    --correct-green: #17B729;
    --incorrect-red: #C41717;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 250px;
    min-height: 100vh;
    background: hsla(39, 100%, 77%, 1);
    background: -moz-linear-gradient(45deg, rgb(247, 186, 72) 0%, rgb(245, 131, 65) 100%);
    background: -webkit-linear-gradient(45deg, rgb(247, 186, 72) 0%, rgb(245, 131, 65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFD78A", endColorstr="#F4762D", GradientType=1 );
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: 'Caesar Dressing', cursive;
    font-size: 50px;
    pointer-events: none;
    user-select: none;
}

#description {
    font-family: 'Assistant', sans-serif;
    font-size: 21px;
    position: relative;
    top: 35px;
    padding: 20px;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.box span img:hover {
    transform: scale(1.5);
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

/* CSS for buttons*/
.button {
    background-color: #1f1e1e;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 35px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button:hover,
  .button:active {
    background-color: initial;
    background-position: 0 0;
    color: black;
  }
  
  .button:active {
    opacity: .5;
  }
  
